[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
coverage = "*"
pyflakes = "*"

[packages]
django = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
